header{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    min-width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}
.homepage_logotipo {
max-width: 120px;
padding: 10px
}



